<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jan.wat.mapper.EquBatteryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jan.wat.pojo.EquBattery">
        <id column="ID" property="id" />
        <result column="Name" property="name" />
        <result column="Equipment_ID" property="equipmentId" />
        <result column="Model" property="model" />
        <result column="ProductDate" property="productdate" />
        <result column="QualityPeriod" property="qualityperiod" />
        <result column="InitialPower" property="initialpower" />
        <result column="StartTime" property="starttime" />
        <result column="EndTime" property="endtime" />
        <result column="AlarmLimit" property="alarmlimit" />
        <result column="CurrentValue" property="currentvalue" />
        <result column="Unit_ID" property="unitId" />
        <result column="Company" property="company" />
        <result column="Des" property="des" />
    </resultMap>

</mapper>
