<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jan.wat.mapper.EquSimMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jan.wat.pojo.EquSim">
        <id column="ID" property="id" />
        <result column="UpdateDate" property="updatedate" />
        <result column="UpdatePerson" property="updateperson" />
        <result column="CreateDate" property="createdate" />
        <result column="CreatePerson" property="createperson" />
        <result column="ActivateTime" property="activatetime" />
        <result column="Status" property="status" />
        <result column="StatusLastUpdateTime" property="statuslastupdatetime" />
        <result column="SIMPackage_ID" property="simpackageId" />
        <result column="Equipment_ID" property="equipmentId" />
        <result column="Describe" property="describe" />
        <result column="SIMAPP_ID" property="simappId" />
        <result column="Balance" property="balance" />
        <result column="BalanceLastUpdateTime" property="balancelastupdatetime" />
        <result column="Enable" property="enable" />
        <result column="ReadNum" property="readnum" />
    </resultMap>

</mapper>
