<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jan.wat.mapper.EquSimbalancehistoryrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jan.wat.pojo.EquSimbalancehistoryrecord">
        <id column="ID" property="id" />
        <result column="SIM_ID" property="simId" />
        <result column="ReadTime" property="readtime" />
        <result column="Balance" property="balance" />
    </resultMap>

</mapper>
