<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jan.wat.mapper.SysMenucolumnsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jan.wat.pojo.SysMenucolumns">
        <result column="MenuCode" property="menucode" />
        <result column="Sequence" property="sequence" />
        <result column="Name" property="name" />
        <result column="Visible" property="visible" />
        <result column="Frozen" property="frozen" />
        <result column="Align" property="align" />
        <result column="Sort" property="sort" />
        <result column="GroupName" property="groupname" />
        <result column="DisplayName" property="displayname" />
        <result column="Width" property="width" />
        <result column="Field" property="field" />
        <result column="Formatter" property="formatter" />
        <result column="Editor" property="editor" />
        <result column="Hidden" property="hidden" />
        <result column="Required" property="required" />
    </resultMap>

</mapper>
