<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jan.wat.mapper.WatAlarmparaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jan.wat.pojo.WatAlarmpara">
        <id column="ID" property="id" />
        <result column="Name" property="name" />
        <result column="AlarmType_ID" property="alarmtypeId" />
        <result column="ParaValue" property="paravalue" />
        <result column="Des" property="des" />
    </resultMap>

</mapper>
