<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jan.wat.mapper.WatFlowtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jan.wat.pojo.WatFlowtype">
        <id column="ID" property="id" />
        <result column="Name" property="name" />
        <result column="Type" property="type" />
        <result column="LLFlow" property="llflow" />
        <result column="LFlow" property="lflow" />
        <result column="HFlow" property="hflow" />
        <result column="HHFlow" property="hhflow" />
        <result column="Des" property="des" />
        <result column="PressureLoss" property="pressureloss" />
        <result column="MaxValue" property="maxvalue" />
        <result column="Manufacturer" property="manufacturer" />
    </resultMap>

</mapper>
